
html, body { /*Dytter footeren til bunnen av siden*/
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
body {
  background-color: #7B9E87;
  font-family: "Lato", sans-serif;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}
#navbar{
  background-color: #0A1128;
  justify-content: space-between;
  display: flex;
  position: relative;
  align-items: center;
}
.navbar-left{
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar-left li{
  padding-left: 25px;
  font-weight: 600;
  font-size: large;
}
.navbar-mid{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 4%;
}
.navbar-right{
  display: flex;
  align-items: center;
  padding-right: 40px;
}
#person{
  border: none;
  fill: none;
  background-color: #0A1128;
  color: white;
}
#hamburger-menu{
  display: none;
}
#button-burger{
  display: none;  
}
@media (max-width: 1190px) {
  .navbar-left li{
    display: none;
  }
  #button-burger{
    display: none;  
  }
}
@media (max-width: 830px){
  #hamburger-menu{
    display: flex;
  }
  #button-burger{
    display: flex;
    border: none;
    fill: none;
    background-color: #0A1128;
    color: white;
  }
  .navbar-mid{
    display: none;
  }
  .navbar-right{
    gap: 5%;
  }
}

/*FOOTER*/
footer { /* Footer styling */
    margin-top: auto;
    background-color: #004d2d;
    color: black;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.85rem;
}

.footer-content { /*Innholdet i footeren*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
  }

  .social-logos img { /* Endre størrelsen på facebook ikonet */
    width: 20px;               
    height: 20px;
    transition: transform 0.2s;
  } 